
body{
    background-color: goldenrod;
    opacity: 100%;
}
.container{
    width: 800px;
}
/* floats*/
/*.row{
    float: right;
    margin-top: 0px;
    margin-bottom: 20px;
}
.h1{
    float: left;
    margin-top: 0px;
    padding: 0px;
    margin-left: 0px;
}
.food1{
    float: left;
}
.food2{
    margin-top: 50px;
  float: right;
    margin-left: 150px;
}
.food3{
    float: left;
    margin-top: auto;
}
.img{
    width: 250px;
    height: 300px;
}*/
/*flexbox*/
.row{

}
.h1{

}
.food1{

}
.food2{

}
.food3{

}