
body{
    background-color: goldenrod;
    opacity: 100%;
}
.container{
    width: 600px;
}
.img{
    width: 250px;
    height: 300px;
}
/* floats*/
/*.row{
    float: right;
    margin-top: 0px;
    margin-bottom: 20px;
}
.h1{
    float: left;
    margin-top: 0px;
    padding: 0px;
    margin-left: 0px;
}
.food1{
    float: left;
}
.food2{
    margin-top: 50px;
  float: right;
    margin-left: 150px;
}
.food3{
    float: left;
    margin-top: auto;
}
*/
/*flexbox*/
.row{
display: flex;
    align-items: center;
    justify-content: space-between;


}
.a{
    justify-content: left;
}
.h1{
justify-content: flex-start;
}
.food1{
display: flex;
    align-items: center;
    justify-content: space-between;
}
.food2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}